<!-- Styles loaded for uploading picture -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" />
<!-- Styles end -->

  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li  class="active"><a ng-href=""><i class="glyphicon glyphicon-user"></i></a></li>
      <li><a ng-href="" ng-click="logout()"><i class="glyphicon glyphicon-off"></i></a></li>
    </ul>
    <h3>Lead tarck</h3>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1"><button class="btn btn-default" type="submit" ng-click="showAddBox()">Add Board</button></div>
  </div>

  <div class="thumbnails container">
    <div class="thumbnail col-md-3" ng-repeat="board in boards" style="text-align: center; cursor: pointer" ng-click="passRoot(board.root)">
        <h1>{{board.label}}</h1>
        <p>{{board.createdOn}}</p>
        <p>{{board.description}}</p>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="addBoard" tabindex="-1" role="dialog" aria-labelledby="addBoardLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addBoardLabel">Add Board</h4>
      </div>
      <div class="modal-body">

                <div class="row">                                  
                  <input type="text" class="form-control" placeholder="Board lable" ng-model="board.label">              
                </div>
                <div class="row">                    
                  <textarea class="form-control" ng-model="board.description"  placeholder="Description"></textarea>
                </div>
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addBoard()">Add</button>
      </div>
    </div>
  </div>
</div>